{% extends "base.html" %}

{% block name %}History {% endblock %}
{% block title %}Our History{% endblock %}

{% block content %}
<!-- Content -->
	<div id="content">
		<article class="box post">
			<header class="style1">
				<h2>The History of the Beta Chapter</h2>
				<p> 
					<span style="font-size: 300%; color: black;">I</span>n the year 1901 Park Valentine Perkins (Alpha pin number 313) transferred from Norwich University to the Massachusetts Institute of Technology, entering as a freshman. Soon he had gathered around him a group of friends from his own class whom he considered worthy to inaugurate a policy of expansion for Theta Chi. With the support and assistance of E. Wesson Clark, Alpha, '92, and J. Albert Holmes, Alpha, '95, who later became the first National President of Theta Chi, this group, consisting of Perkins and his friends, petitioned Alpha Chapter fora charter.
				</p>
				<p> 
					<span style="font-size: 300%; color: black;">D</span>espite the fact that Theta Chi was created with the express intent of becoming a national fraternity, an anti-expansionist sentiment prevailed among the undergraduates at Alpha Chapter. This may have been created by the failure of the first attempt at expansion, at Englewood Military and Collegiate Institution of Perth Amboy, New Jersey, in the year 1863. Alpha Chapter turned down several petitions from groups at other schools that desired to become the second chapter of Theta Chi, so it is not surprising that Park Valentine Perkins' petition was turned down. This persistent man was not to be denied, however, and after the submission of a second and third petition Alpha Chapter finally gave in, and Beta Chapter of Theta Chi was installed on December 13, 1902, marking the beginning of Theta Chi as a national fraternity.
				</p>
				<p>
					<span style="font-size: 300%; color: black;">T</span>he following eleven men were initiated that day, in the home of Charles Johnson: Clarence E. Lasher, Patrick J. Kennedy Jr., C. Hale Sutherland, Charles M. Hutchins, Roland E. Page, Paul B. Weber, Charles E. Johnson, Henry D. Loring, Edward R. Hyde, Burton W. Kendall and Ralph O. Reed. These men, together with Park Valentine Perkins, comprise the chapter members of Beta Chapter. Perkins became the first president and Lasher the first secretary.
				</p>
				<p>
					<span style="font-size: 300%; color: black;">D</span>ue to the lack of previous organization the chapter's first few years were ones of struggle. Only three men were initiated up to 1906, when Patrick J. Kennedy Jr. was elected president. In 1908 Beta advanced to the point, financially, of being able to rent an apartment to be used as a meeting room. The first chapter house was secured in 1909, at 26 Cumberland Street. At this point the chapter began to expand and develop rapidly, taking in sixteen new members that year. The next two years were also spent on Cumberland Street at 20 and 29 respectively.
				</p>
				<p>
					<span style="font-size: 300%; color: black;">I</span>n 1912 Beta leased a large house at 1049 Beacon Street. This house proved to be more than the group could support at the time, however, so in 1916 a smaller house at 916 Beacon Street was leased. At this point the chapter increased even more in size and influence, containing several class officers as well as many members on intercollegiate sports teams. On June 6, 1917 Beta chapter was incorporated under the laws of Massachusetts. In September of the same year the lease on the old house expired, so a larger one was leased at 161 Bay State Road, much nearer the Institute.
				</p>
				<p>
					<span style="font-size: 300%; color: black;">W</span>orld War I made it necessary for the house to be closed from June-December of 1918, since every member of the chapter was engaged in some kind of active service, but through the efforts of R. P. Warriner and Professor Hollnagel the chapter was able to begin 1919 in a strong financial position. It was at this time that the chapter stepped up the publication of the Beta Button, the chapter newsletter, established in 1916. During these years the chapter repeatedly won the trophy awarded to the fraternity with the best scholastic record.
				</p>
				<p>
					<span style="font-size: 300%; color: black;">B</span>eta Chapter grew in strength and influence until the spring of 1922, when it contained the General Managers of both the Tech and The Tech Engineering News, and four class officers. At this point the chapter decided to buy a new house. Through a whole summer of tireless effort on his part and the aid of one or two other brothers, Francis P. Squibb (the house president) picked out the present 528 Beacon Street, paid the first payment , organized the Theta Chi Trust, made the second payment, helped float the third mortgage bond lean, and then took leadership over the chapter in its new home in the Fall of 1922. The new home, beautifully furnished, together with the influence of Mrs. Knowles, the House Mother, caused the development of an air of refinement and polish which had never before been attained.
				</p>
				<p>
					<span style="font-size: 300%; color: black;">A</span>t this time Theta Chi lead all other fraternities at MIT in both academics and participation in activities. In 1926 an alumnus, Barron P. Lambert, announced that he would match, dollar for dollar, every bond turned back. Five thousand dollars worth of third mortgage bonds were turned in and these he matched, and added five thousand more for good measure, thus wiping out fifteen thousand dollars of the outstanding bond issue. The bonds were burned amid great rejoicing at the annual banquet held in the fall of the year.
				</p>
				<p>
					<span style="font-size: 300%; color: black;">S</span>ince those years Beta Chapter has grown in membership to over 1000 brothers. After surviving the turbulent late 60's and early 70's the chapter is reestablishing its contacts with the national organization, and is once again one of the strongest fraternities on campus, as well as one of the strongest chapters of Theta Chi.
					<br>
					<br>
					compiled by Greg Wilson, 14 Oct. 1978
				</p>
			</header>
		</article>
	</div>
{% endblock %}