{% extends "base.html" %}

{% block name %}Alumni {% endblock %}
{% block title %}Alumni of Theta Chi{% endblock %}

{% block content %}
<!-- Content -->
	<div id="content">
		<article class="box post">
			<header class="style1">
				{% load staticfiles %}
				<img src="{% static "images/110cake.jpg" %}" class="image featured2" alt="" /> 
				<p align="justify">Since its founding in 1902, Beta Chapter of Theta Chi has seen over 1100 brothers enter its ranks. Each one of them takes up the banner of lifelong membership in the fraternity.</p> 
				<p align="justify">The Alumni Corporation represents collective ownership of the chapter house, oversees tax, licensing, and liability issues related thereto, and keeps in close contact with the active brothers in both social and mentoring capacities.</p>
				<p>
				<p align="justify">Join us for <a href="/events/">Alumni Weekend 2016</a>!
			</header>

		</article>
	</div>
{% endblock %}