{% extends "base.html" %}

{% block name %}Rooming {% endblock %}
{% block title %}Summer Rooming{% endblock %}

{% block content %}
<!-- Content -->
	<div id="content">
		<article class="box post">
			<header class="style1">
				<h2>Want a fun, affordable and convenient place to live this summer in Boston?</h2>
				{% load staticfiles %}
				<img src="{% static "images/roof_sunset.jpg" %}" class="image fitcap" alt="" /> 
				<p>
					Live at Theta Chi! We currently have singles, doubles, and triples. Per person, triples are $1,500, doubles are $1,850, and singles are $2,200, for the entire summer. There is a $500 housing deposit for all rooms. Parking is $250 for the entire summer with a $100 parking deposit.
				</p>
				<p>
					Our five-story brownstone is in the heart of Boston's Back Bay. The house is only minutes away from the T, Fenway Park, BU, the Prudential Center, the clubs on Lansdowne Street, the shops on Newbury Street, and all the restaurants you will ever need. There is even a 24-hour quickie mart down on the corner. At Theta Chi, you'll get more than just a great location. We also have:
				</p>
				<p>
					  Spacious rooms ranging from singles to triples<br>
					  Barbeques, camping, hiking and beach trips all summer long<br>
					  Free laundry facilities<br>
					  Available parking<br>
					  Fully equipped industrial-sized kitchen<br>
					  5 bathrooms, 5 showers<br>
					  60'' big screen TV and pool table<br>
					  A refrigerator in every room<br>
					  WiFi and ethernet connections in every room<br>
				</p>
				<p>
					Please note that rooms are taken quickly and space is limited. 
				</p>
			</header>

		</article>
	</div>
{% endblock %}