{% extends "base.html" %}
{% block name %}
Edit Profile
{% endblock %}
{% block title %}
{{ brother.user.first_name }} {{ brother.user.last_name }}
{% endblock %}


{% block content %}

<form method="post" action="." class="image featured2" enctype="multipart/form-data">
    {% csrf_token %}
    <img src="{{ brother.image.url }}"/>
    {{ form }}
    <br />
    <input type="submit" value="Submit" name="update" />
</form>
<br>
<br>
<div class="image featured2">
    <a href="/updatepassword/">Change Password</a>
</div>

{% endblock %}