{% extends "base.html" %}
{% load staticfiles %}

{% block name %}Rush {% endblock %}
{% block title %}Rush 2016{% endblock %}

{% block content %}
<!-- Content -->
	<div id="content">
		<article class="box post">
			<header class="style1">
				<h2>Theta Chi is looking for quality individuals to join our ranks. Stop by some of our events or drop in at the house for a quick hello to see what we are all about. We look forward to getting to know you! Get pumped.</h2>
				<img src="{% static "images/logo_rush.jpg" %}" class="image fitcap"/>
				<p>
					<span style="font-size: 300%; color: black;">W</span>e at Theta Chi believe that tradition is meant to evolve. From our beginning over a hundred years ago, Theta Chi culture has certainly evolved quite a lot! The fraternity experience should not be about antiquated rituals, but rather making long-lasting friendships, and helping each other fulfill our ambitions.
				</p>
				<p>
					<span style="font-size: 300%; color: black;">W</span>e are proud of our individual and house accomplishments that make us a diverse and wonderful community. Theta Chis can be found on the <b>Formula SAE race team</b>, in the ranks of the <b>MIT ROTC program</b>, in the <b>MIT Crew boathouse</b>, and even among the <b>editors of the Tech</b>. The <b>winners of the IFC's 2016 Best Scholarship Award</b>, Theta Chis continue to show that we are committed to excellence. We believe a strong and cohesive living community is essential for personal growth and provides an invaluable opportunity to discover new passions and perspectives.
				</p>
				<p>
					<span style="font-size: 300%; color: black;">T</span>he brothers of Theta Chi recognize that a rewarding college experience involves a <b>vibrant social life</b>. We distinguish ourselves by dropping some of the jankiest beats in the college party scene and hosting some of the most creatively themed social events. With brothers and friends hailing from all over campus, our house facilitates connections between seemingly disparate social circles within MIT. Located in the heart of Boston's Back Bay and the center of collegiate city life, we're proud to count friends among the students of our neighboring universities, not only the MIT community.
				</p>
				<p>
						<span style="font-size: 300%; color: black;">W</span>e're looking for guys who strive to be the best version of themselves they can be, whether that involves going on to create new gadgets at Apple, funding your own multimillion startup, or developing your skills in the jazz guitar. <b>We look forward to meeting you.</b>
				</p>
			</header>
		</article>
	</div>

<!-- 	<header class="style1">
		<h2> Saturday September 5th</h2>
	</header>
	<div class="feature-list">
						<div class="row">
							<div class="6u 12u(mobile)">
								<section>
									<h3>Yak Burger and Smoothies</h3>
									<p>Academics are a priority at Theta Chi. Members of the house excel in a wide variety of academic pursuits and are always willing to help one another on a problem set or difficult concept. </p>
								</section>
							</div>
							<div class="6u 12u(mobile)">
								<section>
									<h3>Event 2</h3>
									<p>Text</p>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="6u 12u(mobile)">
								<section>
									<h3>Event 3</h3>
									<p>Text</p>
								</section>
							</div>
							<div class="6u 12u(mobile)">
								<section>
									<h3>Event 4</h3>
									<p>Text</p>
								</section>
							</div>
						</div>
	</div> -->
{% endblock %}
