{% extends "base.html" %}
{% load staticfiles %}

{% block name %}Rush {% endblock %}
{% block title %}Rush 2015{% endblock %}

{% block content %}
<!-- Content -->
	<div id="content">
		<article class="box post">
			<header class="style1">
				<h2>Theta Chi is looking for quality individuals to join our ranks. Stop by some of our events or drop in at the house for a quick hello to see what we are all about. We look forward to getting to know you! Get pumped.</h2>
				<img src="{% static "images/logo_rush.jpg" %}" class="image fitcap"/> 
				<p>Some text here </p>
			</header>
		</article>
	</div>
{% endblock %}